<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign IN</title>
    <link rel="stylesheet" href="signup.css">

</head>

<body>
    <!--Creating a form to Take input details, which on submitting will call userDetails -->
    <div class="expensehome" id="div1">
        <form onsubmit="saveExpense(event)" id="formtag">
            <label> Expense Amount</label><br>
            <input type="text" id="expenseamount" name="expamount" placeholder="Rs. XXXXX/-" required><br><br>
            <label>Description</label><br>
            <input type="text" id="expdescp" name="expdescription" placeholder="Ex : Dinner Party on Eid"
                required><br><br>

            <label> Category</label><br>
            <select id="category">
                <option value="select">Select</option>
                <option value="">---------------------</option>
                <option value="Fuel">Fuel</option>
                <option value="Electricity">Electricity</option>
                <option value="Ration">Ration</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Shopping">Shopping</option>
                <option value="Dining">Dining</option>
                <option value="OTT">OTT Subscription</option>
                <option value="Veggies">Veggies</option>
                <option value="Dailydairy">Daily-Purchases</option>
            </select>

            <button class="form" type="submit">Submit</button>

        </form><br><br>

        <button style="background-color: aqua; border-radius: 1px;" type="submit" id="premium">Buy Premium
            Membership</button>
        <p id="puser"></p>
        <button style="background-color: burlywood; border-radius: 1px;" type="submit" id="leaderboard"
            onclick="leaderboard()">
            Show Leader Board</button>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    </div>
    <div class="exp">
        <label style="font-weight: 800;">Expenses</label>
        <ul id="listofexpenses"></ul>
    </div>

    <div id="ldr">



    </div>
    <ul id="listoftop"></ul>



    <!-- <form action="signUp.html">
            <button type="submit">New User - Sign up </button>
        </form> -->





    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js"></script>


    <script>










        function returnItToUi(obj) {
            // console.log(obj.amount)

            try {
                // getting the id of ul tag to create ne li tags under it
                const parentElement = document.getElementById("listofexpenses");
                // creatting a new li tag to store our data from obj
                const childElement = document.createElement("li");
                // using text content to display the data passed on from the obj
                childElement.textContent = obj.amount + ' - ' + obj.description + ' - ' + obj.category + ' - ';


                // giving attibutes to DELETE button
                const delbtn = document.createElement("input");
                delbtn.type = "button";
                delbtn.value = "Delete";
                delbtn.style = "margin-bottom: 5px;"



                // appending should be done the order we want them to be dispalyed 

                childElement.append('    -    ');
                childElement.append(delbtn);
                parentElement.appendChild(childElement);
                //  When clicked removes the data from local storage
                delbtn.onclick = async () => {


                    try { //DELETES THE OBJ, WHERE ID IS GIVEN
                        var id = `${obj.id}`

                        // console.log(id);

                        const token = localStorage.getItem('token')
                        console.log(id)
                        console.log(token)
                        const user = await axios.delete(`http://127.0.0.1:4000/login/delete-expense/${obj.id}`, { headers: { "Authorization": token } })
                            .then(alert("Deleted"), parentElement.removeChild(childElement))
                            .catch(err => console.log(err));

                    } catch (e) {
                        console.log(e)
                    }

                }

            } catch (e) {
                console.log(e);
            }





        }



        // // This Event listener helps us to load the data, we can even use 
        // //Location.reload(), but DOM Content loaded happens prior to reload.




        window.addEventListener("DOMContentLoaded", async () => {

            try {
                // if (localStorage.getItem("premium")==="yes"){

                //     
                const token = localStorage.getItem('token')
                const premiumcheck = localStorage.getItem('ispremium')
                // console.log(token)
                console.log(premiumcheck)
                if (premiumcheck != null) {
                    const PremiumCheck = await axios.get('http://127.0.0.1:4000/login/check', { headers: { "Authorization": premiumcheck } })
                        .then(response => {
                            if (response.status === 200) {
                                document.getElementById("premium").remove();
                                document.getElementById("puser").innerHTML += response.data.message + "<br>"
                            }
                        })
                }



                const dbData = await axios.get('http://127.0.0.1:4000/login/get-expense', { headers: { "Authorization": token } }).then(response => { return (response.data) });
                // console.log(dbData[0]);
                // console.log(dbData)
                if (dbData.length == 0) {
                    document.getElementById("puser").innerHTML += "No Transactions to show"
                }

                for (let i = 0; i < dbData.length; i++) {
                    returnItToUi(dbData[i]);
                    // console.log(dbData[i]);

                }




            }
            catch (e) {
                console.log(e);
            }

        })





        document.getElementById("premium").onclick = async function (e) {
            // So inorder to know which user is creating we use token saved
            const token = localStorage.getItem('token')
            console.log(token)
            const response = await axios.get('http://127.0.0.1:4000/login/premium', { headers: { "Authorization": token } })
            console.log(response)

            var options = {
                "key": response.data.key_id,
                "order_id": response.data.orderid.id,
                "handler": async function (response) {
                    console.log("before axios")
                    await axios.post('http://127.0.0.1:4000/login/updatetransactionstatus', {
                        order_id: options.order_id,
                        payment_id: response.razorpay_payment_id,
                    }, { headers: { "Authorization": token } }).then(res => {
                        if (res.status === 201) {

                            alert(res.data.message)

                            localStorage.setItem("ispremium", res.data.token)
                        }
                    })

                    document.getElementById("premium").remove();
                    document.getElementById("puser").innerHTML = "You are a premium user now"

                    localStorage.setItem("premium", "yes");


                }
            }
            const rzrpay = new Razorpay(options);
            rzrpay.open();
            e.preventDefault;

            rzrpay.on('payment.failed', (response) => {
                console.log(response);
                alert("Something went wrong")
            })
        }



        async function leaderboard(event) {
            document.getElementById("ldr").innerHTML = "<label style='font-weight: 800;'>Leader Board</label>";


            console.log("leaderboard getting clicked")

            const leaderArray = await axios.get('http://127.0.0.1:4000/premium/leaderboard').then(response => response.data);

            for (let i = 0; i < leaderArray.length; i++) {


            
                const parEle = document.getElementById("listoftop");

                const chilEle = document.createElement("li");

                chilEle.innerText = 'Name : ' + leaderArray[i][1] + ' Total Expenses : ' + leaderArray[i][0];
      
                parEle.appendChild(chilEle);

            }

           

        }
    </script>
</body>


</html>