.signup,.signin,.expensehome{


    margin-top: 100px;
    text-align: center;
    
   
    

   

}

.di {
 
 text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 5px;
   

   

}